*~
*.db
*.bak
.DS_Store
*.idea
.vscode
*.sw?
*.rej
*.orig
yarnd_linux
cross_build.sh
environ.inc

/app
/tmp
/dist

/yarnc
/yarnd
/validate_feed
/.envrc

/blake2b_base32
/check_pod_versions
/tools/blake2b_base32/blake2b_base32
/tools/check_pod_versions/check_pod_versions

/tests/tests
/cmd/yarnc/yarnc
/cmd/yarnd/yarnd
/cmd/validate_feed/validate_feed

/data

/internal/theme/static/css/yarn.min.css
/internal/theme/static/css/noscript.min.css
/internal/theme/static/js/yarn.min.js

bench-yarn.txt
coverage.out

.task/
/doc/
/release/

go.work*
.qodo
